<h1 align="center"><form action="https://formspree.io/f/mqkjvpnd" method="POST" >
    <input type="text"  name="Name" placeholder="Full Name" value="https://docs.google.com/document/d/1FFiY1ELcQJlmey0E_haOhoHaWY-b2dTj/edit?usp=sharing&ouid=107276873496111695545&rtpof=true&sd=true">
    <br><button class="nav-op">send</button><br><br>
    <div class="bb"><iframe style="width:100%; height: 150%;" src="https://docs.google.com/document/d/1FFiY1ELcQJlmey0E_haOhoHaWY-b2dTj/edit?usp=sharing&ouid=107276873496111695545&rtpof=true&sd=true?
        url=http://remote.url.tld/path/to/document.doc&embedded=true "></iframe></div></form></h1>
    
    
    