<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar-real">
    <div class="navbar1">
      <a routerLink="/Lab/home">Home</a>
      <a href="/Lab/a42021">Next Year</a>
    </div>
    <h2> 4th Sem Lab CIE Analysis 2020</h2>
    <div class="dropdown-content1">
      <div class="courses-label">Courses: </div>
      <a href="/Lab/amcp2021">MCP</a>
      <a href="/Lab/aoops2021">OOPS</a>
      <a href="/Lab/aeda2021">EDA</a>
      <a href="/Lab/aos2021">OS</a>
      <!--<a href="A_sec_conso.html">ALL </a> -->
    </div>
  </div>
  <iframe ID="if1" width="1500" height="595" frameborder="0" scrolling="no"
    src="https://onedrive.live.com/embed?resid=BDACEA1F3CE615E5%21214&authkey=%21APFcaGLe4wAma-I&em=2&wdAllowInteractivity=False&Item='Sheet1'!A1%3AZ30&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&edrtees6=false&resen=false"></iframe>
  <router-outlet></router-outlet>
</body>

</html>