<br>
<h2 class="nav-des1">upload Ineligible student list for courses</h2>
<br>
<div class="mod">
    
      <div class="modal-content">
        <div class="modal-header">
        </div>

        <form (submit)="uploadstudent()" #get="ngForm" >
        <div class="modal-body">

          <label class="control-label" for="course">SelectSem</label>
               
          <select class="form-select mb-3" name="sem"  id="type" ngModel [required]="true">
          <option >3</option>
          <option>4</option>
          <option>5</option>
          <option >6</option>
          <option >7</option>
          <option>8</option>
          </select>
          <br>
          <br>

            <input type="file" class="form-control" id="customFile" (change)="readfile($event)"/>
        </div>
        <br>
        <div class="modal-footer">
            <button type="submit" id="card" class="btn">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                upload
              </button>
               </div>
      </form>
      </div>
    </div>

    <br>


    <div class="table-responsive">
      <table class="table table-bordered table-sm caption-top" style="text-align:center;border:2px;">
      
        <thead class="table-active">
          <tr>
              <!-- <th  scope="col">Sl no.</th> -->
              <th scope="col">USN</th>
              <th scope="col">Name</th>
              <th scope="col"  >courseid</th>
              <th scope="col" >coursename</th>
              <th scope="col" >sem</th>
              <th scope="col" >div</th>
              <th scope="col" >cie</th>
              <th scope="col" >attendance</th>

          </tr>
        <tbody *ngFor="let student of ExelData">
          <tr>
            <!-- <td>{{1}}</td> -->
              <td >{{student.USN}}</td>
              <td >{{student.Name}}</td>
              <td >{{student.CourseId}}</td>
              <td >{{student.CourseName}}</td>
              <td >{{student.Sem}}</td>
              <td >{{student.div}}</td>
              <td >{{student.CIE}}</td>
              <td >{{student.Attendance}}</td>
             
             
              <!-- <td><button class="btn btn-success btn-rounded">Approve</button></td>
              <td><button class="btn btn-danger btn-rounded">disapprove</button></td> -->
          </tr>  
        </tbody>
      </table>
      </div>
    