
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        </div>

        <form (submit)="uploadstudent()" #get="ngForm" >
        <div class="modal-body">

          <label class="control-label" for="course">SelectSem</label>
               
          <select class="form-select mb-3" name="sem"  id="type" ngModel [required]="true">
          <option >3</option>
          <option>4</option>
          <option>5</option>
          <option >6</option>
          <option >7</option>
          <option>8</option>
          </select>
      
          <label class="control-label" for="course">Select Sem</label><br>
          <div class="btn-group">
            <input type="radio"  class="btn-check" name="div" value="A" id="opt1" autocomplete="off" checked  ngModel/>
            <label class="btn btn-secondary" for="opt1">A</label>
          
            <input type="radio" class="btn-check" name="div" value="B" id="opt2" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt2">B</label>
          
            <input type="radio" class="btn-check" name="div" value="C" id="opt3" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt3">C</label>
        
            <input type="radio" class="btn-check" name="div" value="D" id="opt4" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt4">D</label>
        
            <input type="radio" class="btn-check" name="div"  value="E" id="opt5" autocomplete="off"  ngModel />
            <label class="btn btn-secondary" for="opt5">E</label>
          </div>
          <div id="">
            <input type="file" class="form-control" id="customFile" (change)="readfile($event)"/>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" >Close</button>
          <button type="submit" class="btn btn-outline-danger" >Submit</button>
        </div>
      </form>
      </div>
  
      hhfnjgfninbbnjignbjgnbkjgbmlkdfmbkjfnbkdfkbdfkb lkm km kjn


