<br>
<br>
<div class="center2">
  <h5>please select details to view Ineligible students list </h5>
</div>
<br>
<div class="mod">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">


      </div>

      <form (submit)="getStudentList(getstudent.value)" #getstudent="ngForm">
        <div class="modal-body">


          <label class="control-label" for="course">SelectSem</label>

          <select class="form-select mb-3" id="type" (change)="formvalue($event)" name="Sem" ngModel>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option></option>
          </select>
          <br>


        </div>
        <!-- <br> -->
        <div class="modal-footer">
          <button type="submit" id="card" class="btn">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
            </svg>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- ////////////////////////////////course_wise section////////////////////////////////////////////////////////////////////////////// -->
<!-- Modal -->

<!-- /////////////////////////////////table section////////////////////////////////////////////////////////////////////////////// -->
<div id="print">

  <div class="head">
    <img src="../assets/logo.png" class="rounded float-left" width="250px">
    <p id="BVB">Earlier known as <br> B. V. B. College of Engineering & Technology</p>
  </div>
  <br>
  <h2>List of Students Ineligible for Supplementary Lab End Semester Assessment</h2>
  <h4><span> School: Computer Science & Engineering </span> <span>Examination:{{showdate |date:"shortDate"}}</span>
  </h4>
  <h5><span> Program: BE </span> <span> Semester:{{showSem}}</span> </h5>
  <br>
  <div class="table-responsive">

    <table id="t1" class="table  table-striped table-hover table-bordered table-sm caption-top"
      style="text-align:center;border:2px;">
      <thead class="table-active">
        <tr>
          <th scope="col" rowspan="2">Sl no.</th>
          <th scope="col" rowspan="2">USN</th>
          <th scope="col" rowspan="2">Name</th>
          <th id="l1" scope="col" colspan="2">{{lab1}}</th>
          <th id="l2" scope="col" colspan="2">{{lab2}}</th>
          <th id="l3" scope="col" colspan="2">{{lab3}}</th>
        </tr>
        <tr>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
          <th scope="col">CIE</th>
          <th scope="col">Att</th>
        </tr>
      </thead>

      {{resetSno()}}
      <tbody *ngFor="let student of studentList;let student12 of lablist">
        <tr *ngIf="student.sem ==showSem">
          <td>{{count}}</td>
          <td>{{student.USN}}</td>
          <td>{{student.Name}}</td>
          <td>{{student[lab1]}}</td>
          <td>{{student12[lab1]}}</td>
          <td>{{student[lab2]}}</td>
          <td>{{student12[lab2]}}</td>
          <td>{{student[lab3]}}</td>
          <td>{{student12[lab3]}}</td>
          <!-- <td >{{student["17ECSC302"]}}</td> -->
          <!-- <td>{{datatemp[1]}}</td>
      <td>{{datatemp[2]}}</td>
      <td>{{datatemp[3]}}</td> -->
          <!-- <td>{{student.courses[0].ATT}}</td>
      <td>{{student.courses[1].CIE}}</td>
      <td>{{student.courses[1].ATT}}</td> -->
          <!-- <td>{{student.courses[2].CIE}}</td> -->
          <!-- <td>{{student.courses[2].ATT}}</td> -->
          <!-- <td><button class="btn btn-success btn-rounded">Approve</button></td>
      <td><button class="btn btn-danger btn-rounded">disapprove</button></td> -->
        </tr>
        {{incrementSno()}}
    </table>
  </div>
  <div class="courses">
    <table class="table table-hover table-bordered table-sm caption-top mt-2" style="text-align:center;border:2px;width:50%;">
     <thead class="table-active">
      <tr>
        <th>Code</th>
        <th>Name</th>
      </tr>
    </thead>
      <tbody>
      <tr>
        <td scope="row">{{lab1}}</td>
      </tr>
      <tr>
        <td scope="row">{{lab2}}</td>
      </tr>
      <tr>
        <td scope="row">{{lab3}}</td>
      </tr>
    </tbody>
    </table>
    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button id="card" type="button" class="btn me-md-4" printSectionId="print" [printStyle]="
{h4 : {'display':'flex','justify-content':'space-between', 'position':' relative',
'margin-left': '15%','margin-right': '15%'},

p:{'position':'relative',
'right':'0',
 ' color':' red','text-align':'end'},
img:{'width':'350px'}}" [useExistingCss]="true" printTitle="KLE Technological University" ngxPrint><i
      class="fa fa-download"></i>
    print
  </button>
</div>
<br>