form {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 20px;
    background: #eee;
    border-radius: 20px;
}

input#username, input#password {
    outline: 0;
    font-size: 20px;
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;
}

button
  {
     color: rgb(251, 251, 252);
     font-size: 100%;
     padding: 14px 28px;
     background-color: rgb(195, 53, 53);

  }