<h2 align="center">Register User</h2>
<form (submit)="registerUser($event)">
        <div class="container">
        <div>
          <input type="text" autocomplete="off" placeholder="firstname" id="firstname">
        </div>
        <div>
            <input type="text" autocomplete="off" placeholder="lastname" id="lastname">
          </div>
        <div>
            <input type="email" autocomplete="off" placeholder="college mail" id="email">
        </div>          
        <div>
          <input type="password" autocomplete="off" placeholder="Password" id="password">
        </div><br>
        <div>
          <button type="submit" id="submit">Submit</button>
        </div>
      </div>

</form>
