
.bb
{
    padding-right: 20%;
    padding-left:10%;
    width: 1200px;
    height: 1000px;
} .nav-op {
    padding: 0.4em 0.9em;
    border: 0.15em solid #C62128;
    border-radius: 0.5em;
    margin: 0.4em 0.4em;
    font-weight: 600;
    color: #636363;
    letter-spacing: -0.03em;
    transition: 0.6s;
  
  }