<h1 align="center">
    <form action="https://formspree.io/f/mwkzjlqj" method="POST">
        <input type="text" name="Name" placeholder="Full Name"
            value="https://docs.google.com/document/d/13WzvKCDSzykHY7BI8mLAt_JwPokz0b3R/edit">
        <br>
        <div class="aaa"><a [routerLink]="['/Circular/send']"><button class="nav-op">Send</button></a></div><br><br>
        <div class="bb"><iframe style="width:100%; height: 150%;" src="https://docs.google.com/document/d/13WzvKCDSzykHY7BI8mLAt_JwPokz0b3R/edit?
        url=http://remote.url.tld/path/to/document.doc&embedded=true"></iframe></div>
    </form>
</h1>