<br><br>

<section class="vh-95">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center just h-100">
      <div class="col-md-9 col-lg-6 col-xl-5" style="margin-right: 70px;">
        <div id="overlay-text">
          <div id="title">DUGC</div>
          <div id="subtitle">KLE Technological University</div>
        </div>
        <img src="assets/statue1.jpg" class="img1" alt="Sample image">

      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (submit)="loginUser(get.value)" #get="ngForm">

          <div class="form-outline mb-4">
            <label class="" for="form3Example3">Role</label>
            <select class="container1 p-2 form-select" aria-label="Default select example" name="role"
              [(ngModel)]="logindata.role" #name2="ngModel" required>
              <option selected>select your role</option>
              <option value="coordinator">Course Coordinator</option>
              <option value="dugc">DUGC Coordinator</option>
              <option value="admin">DUGC Chairman</option>
            </select>
          </div>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="" for="form3Example3">Email</label>
            <input name="email" type="email" id="form3Example3" class="container1 form-control form-control-lg"
              [(ngModel)]="logindata.email" placeholder="email" #name2="ngModel" required minlength="4" />
            <div *ngIf="name2.invalid && (name2.dirty || name2.touched)" class="alert">
            </div>

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="" for="form3Example4">Password</label>
            <input name="password" type="password" id="form3Example4" class="container1 form-control form-control-lg"
              [(ngModel)]="logindata.password" placeholder="password" #name="ngModel" required minlength="4" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

            </div>

          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div> -->
            <!-- <a href="#!" class=" link-danger">Forgot password?</a> -->
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" id="card" class="btn" style="padding-left: 2.5rem; padding-right: 2.5rem;">
              Log in
            </button>
            <p class=" mt-2 pt-3 mb-0">Don't have an account? <a [routerLink]="['/registerMain']"
                class="link-danger">Request Registration</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>

</section>