<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="navbar-real">
    <div class="navbar1">
      <a routerLink="/Lab/home">Home</a>
    </div>
    <h2> WT Lab CIE Analysis</h2>
    <div class="dropdown-content1">
      <div class="courses-label">Courses: </div>
      <a href="/Lab/ass2021">SS LAB</a>
      <a href="/Lab/aml2021">ML LAB</a>
      <a href="adiv2021">ALL </a>
      <!--<a href="A_sec_conso.html">ALL </a> -->
    </div>
  </div>

  <iframe id="if1" width="1000" height="450" frameborder="0" scrolling="no"
    src="https://onedrive.live.com/embed?resid=BDACEA1F3CE615E5%21216&authkey=%21AB3OFVhdJIDTkRU&em=2&wdAllowInteractivity=False&Item='Sheet1'!A1%3AM17&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&edrtees6=false&resen=false"></iframe>
</body>

</html>



<router-outlet></router-outlet>