.navbar {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.7em;
  border-bottom: 0.3vh solid #C62128;
}

.nav-des-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.nav-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-des-sub {
  color: #817f7f;
  font-weight: 600;
  letter-spacing: -0.05vw;
}

.nav-des {
  color: #C62128;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: -0.20vw;
}

.nav-logo {
  max-width: 25vw;
}

.nav-container {
  margin: 1em 5em;
}

.nav-options {
  display: flex;
  flex-direction: row;
  margin-top: 0.4em;
  padding-bottom: 0.4em;
}

.nav-op {
  padding: 0.4em 0.9em;
  border: 0.15em solid #C62128;
  border-radius: 0.5em;
  margin: 0.4em 0.4em;
  font-weight: 600;
  color: #636363;
  letter-spacing: -0.03em;
  transition: 0.6s;

}

.nav-op:first-of-type {
  margin-left: 0;
}

.nav-op:hover {
  cursor: pointer;
  transition: 0.6s;
  color: #ffffff;
  background-color: #C62128;
}


.selected-option {
  color: #ffffff !important;
  background-color: #C62128 !important;
}

#disabled-option {
  opacity: 20%;
  pointer-events: none;
}

@media print{
  .nav-container{
    display: none;
  }
}