<div class="nav-container">
    <!-- <div class="navbar">
        <div class="nav-section nav-img-section">
            <img src="assets/logo.png" alt="KLE Tech logo" class="nav-logo">
        </div>
        <div class="nav-section nav-des-section">
            <div class="nav-des">DUGC</div>
            <div class="nav-des-sub">DEPARTMENT OF</div>
            <div class="nav-des-sub">UNDERGRADUATE COURSES</div>
        </div>
    </div> -->
    <div class="nav-options">
        <div class="nav-op" [routerLink]="['/Withdrawal/Home']" [routerLinkActive]="['selected-option']">Approval</div>
        <div class="nav-op" [routerLink]="['/Withdrawal/Application']" [routerLinkActive]="['selected-option']">
            Application</div>
        <div class="nav-op" [routerLink]="['/Withdrawal/Report']" [routerLinkActive]="['selected-option']">Report</div>
    </div>
</div>