<head>
    <title>HOME PAGE</title>
</head>

<body>
    <!-- <img id="i2" align="left" src="/assets/clite.jpg" alt="CLITE LOGO" ><br><br> -->
    <h4>Lab CIE Result Analysis</h4>

    <form>
        <div class="container">
            <label for="year">Select Year:</label>
            <select id='year' name='year' class="dropdown" required [(ngModel)]="year">
                <option value="2020" class="drop">2020</option>
                <option value="2021" class="drop">2021</option>
                <option value="2022" class="drop">2022</option>
            </select><br><br>

            <label for="Sem">Select Sem:</label>
            <select id='Sem' name='Semester' class="dropdown" required [(ngModel)]="Sem">
                <!-- <option value="1" class = "drop">1</option>
                <option value="2" class = "drop">2</option> -->
                <option value="3" class="drop">3</option>
                <option value="4" class="drop">4</option>
                <option value="5" class="drop">5</option>
                <option value="6" class="drop">6</option>
                <option value="7" class="drop">7</option>
                <option value="8" class="drop">8</option>
            </select><br><br>


            <label for="Div">Select Division:</label>
            <select id='Div' name='Div' class="dropdown" required [(ngModel)]="Div">
                <option value="A" class="drop">A</option>
                <option value="B" class="drop">B</option>
                <option value="C" class="drop">C</option>
                <option value="D" class="drop">D</option>
                <option value="E" class="drop">E</option>
                <option value="All" class="drop">All</option>
            </select><br><br>
            <button
                style="width:80px;background-color: #E34234;border: 0ch;box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); font-size:25px;width: 125px;"
                (click)="myFun()">Submit</button>
        </div>
    </form>
    <router-outlet></router-outlet>