<span style="color:rgb(227, 33, 33) ;">
    <h1 align="center">CIRCULARS</h1>
</span>
<div id="container">
    <form>
        <img width="170" height="80" src="assets\img\makeup.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/cmm']"><button class="nav-op"> Edit Minor Circular</button></a>
        </div>
        <br><br><br>
    </form>
    <form>
        <img width="170" src="assets\img\marks appr.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/cam']"><button class="nav-op">Edit Approval Circular</button></a>
        </div>
    </form>
    <form>
        <img width="170" height="80" src="assets\img\course wid.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/ccw']"><button class="nav-op"> Edit withdrawal
                    Circular</button></a> </div>
        <br><br><br>
    </form>
    <form>
        <img width="170" height="82" src="assets\img\inne list.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/cin']"><button class="nav-op"> Edit Ineligible
                    Circular</button></a> </div>
    </form>
    <form>
        <img width="180px" height="82px" src="assets\img\sem end.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/cer']"><button class="nav-op"> Edit Result Circular</button></a>
        </div>
        <br><br>
    </form>
</div>
<br>
<span style="color:rgb(227, 33, 33) ;">
    <h1 align="center">REMINDER</h1>
</span>
<h4 align="center">
    <form action="https://formspree.io/f/mwkzjlqj" method="POST">
        <div class="bb"><label> MESSAGE : </label>
            <input type="text" name="Name" placeholder="Type here" size="35" style="height: 50px;"><br><br>
        </div>
        <div class="aaa"><a [routerLink]="['/Circular/send']"><button class="nav-op">Send</button></a></div>
    </form>
</h4>