<h2 class="title">Analysis Report</h2>
<br>

<div class="container">
  <h5 class="subtitle">Analysis for <span class="bold">{{exam_input_name}}</span> | Sem <span
      class="bold">{{sem_input}}</span>
    | <span class="bold">{{current_year}}</span></h5>

  <div>
    <table>
      <tr>
        <td rowspan="3"><b>Sl no.</b></td>
        <td rowspan="3"><b>Course code</b></td>
        <td colspan="25"><b>No. of students scoring, marks</b></td>
        <td colspan="5" rowspan="2"><b>Total students</b></td>
        <td colspan="5" rowspan="2"><b>Average Marks {{current_year}}</b></td>
        <td colspan="5" rowspan="2"><b>Average Marks 2021-22</b></td>
      </tr>
      <tr>
        <td colspan="5"><b>0-4</b></td>
        <td colspan="5"><b>5-7</b></td>
        <td colspan="5"><b>8-11</b></td>
        <td colspan="5"><b>12-16</b></td>
        <td colspan="5"><b>17-20</b></td>
      </tr>
      <tr>
        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>

        <td>A div</td>
        <td>B div</td>
        <td>C div</td>
        <td>D div</td>
        <td>E div</td>
      </tr>
      <tr *ngFor="let course_item of course_codes; let myIndex = index">
        <td>{{myIndex + 1}}</td>
        <td>{{course_item}}</td>
        <ng-container *ngFor="let i of all_particulars">
          <ng-container *ngFor="let j of all_sections">
            <td>{{getCurrentMarks(course_item,j,i)}}</td>
          </ng-container>
        </ng-container>
        <ng-container *ngFor="let j of all_sections">
          <td>{{getPreviousMarks(course_item,j,'Average')}}</td>
        </ng-container>
      </tr>
      <tr>
        <td colspan="2"><span class="bold">Total</span></td>
        <ng-container *ngFor="let i of all_total_particulars">
          <ng-container *ngFor="let j of all_sections">
            <td>{{getTotalParticular(j,i)}}</td>
          </ng-container>
        </ng-container>
        <td colspan="5"></td>
        <td colspan="5"></td>
        <td colspan="5"></td>
      </tr>
    </table>
  </div>
</div>

<br>
<br>
<h3 class="title">Visualizations</h3>
<br>
<div class="chart-display" id="chart-display">
  <div class="chart-row">
    <div class="chart-item">
      <label id="chartLabel1"></label>
      <canvas id="myChart1" style="width:0%;max-width:0px"></canvas>
    </div>
    <div class="chart-item">
      <label id="chartLabel2"></label>
      <canvas id="myChart2" style="width:0%;max-width:0px"></canvas>
    </div>
  </div>
  <div class="chart-row">
    <div class="chart-item">
      <label id="chartLabel3"></label>
      <canvas id="myChart3" style="width:0%;max-width:0px"></canvas>
    </div>
    <div class="chart-item">
      <label id="chartLabel4"></label>
      <canvas id="myChart4" style="width:0%;max-width:0px"></canvas>
    </div>
  </div>
  <div class="chart-row">
    <div class="chart-item">
      <label id="chartLabel5"></label>
      <canvas id="myChart5" style="width:0%;max-width:0px"></canvas>
    </div>
    <div class="chart-item">
      <label id="chartLabel6"></label>
      <canvas id="myChart6" style="width:0%;max-width:0px"></canvas>
    </div>
  </div>
  <div class="chart-row">
    <div class="chart-item">
      <label id="chartLabel7"></label>
      <canvas id="myChart7" style="width:0%;max-width:0px"></canvas>
    </div>
    <div class="chart-item">
      <label id="chartLabel8"></label>
      <canvas id="myChart8" style="width:0%;max-width:0px"></canvas>
    </div>
  </div>
  <div class="chart-row">
    <div class="chart-item">
      <label id="chartLabel9"></label>
      <canvas id="myChart9" style="width:0%;max-width:0px"></canvas>
    </div>
    <div class="chart-item">
      <label id="chartLabel10"></label>
      <canvas id="myChart10" style="width:0%;max-width:0px"></canvas>
    </div>
  </div>
</div>
<button onclick="window.print()" class="print no-print" id="printButton">Print Report</button>