<div class="nav-container">
    <div class="navbar">
        <div class="nav-section nav-img-section">
            <img src="../assets/logo.png" alt="KLE Tech logo" class="nav-logo">
        </div>
        <div class="nav-section nav-des-section">
            <div class="nav-des">DUGC</div>
            <div class="nav-des-sub">DEPARTMENT OF</div>
            <div class="nav-des-sub">UNDERGRADUATE COURSES</div>

            <div class="nav-options">
                <div class="nav-op" [routerLink]="['home']">Home</div>
                <div class="nav-op" [routerLink]="['/makeup/login']">Login</div>
                <div class="nav-op" [routerLink]="['/makeup/register']">Register</div>
            </div>
        </div>
    </div>
    <div class="nav-options">
        <div class="nav-op" [routerLink]="['/makeup/add-student']" >add student</div>
        <div class="nav-op" [routerLink]="['/makeup/edit-student']" >Approve student</div>
        <div class="nav-op" [routerLink]="['/makeup/list-student']" >display student</div> 
      </div>
    
</div>
<!-- <app-course-withdrawal></app-course-withdrawal>
<app-course-widthdrawal-report></app-course-widthdrawal-report>
<app-course-withdrawal-application></app-course-withdrawal-application> -->
<!-- <router-outlet></router-outlet> -->


 

<router-outlet></router-outlet>