<br><span style="color:rgb(227, 33, 33) ;">
    <h1 align="center">NOTICE</h1>
</span>
<br>
<div id="container">
    <form>
        <img width="180" height="90" src="assets\img\nmm.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/nm']"><button class="nav-op"> Edit Notice</button></a> </div>
        <br><br><br>
    </form>
    <form>
        <img width="180" height="90" src="assets\img\amm.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/na']"><button class="nav-op">Edit Notice </button></a> </div>
    </form>
    <form>
        <img width="180" height="90" src="assets\img\scw.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/nw']"><button class="nav-op">Edit Notice</button></a> </div>
        <br><br><br>
    </form>
    <form>
        <img width="180" height="90" src="assets\img\ill.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/ni']"><button class="nav-op">Edit Notice</button></a> </div>
    </form>
    <form>
        <img width="180" height="90" src="assets\img\sers.jpg" /><br><br>
        <div class="aaa"><a [routerLink]="['/Circular/ns']"><button class="nav-op">Edit Notice</button></a></div>
        <br><br>
    </form>
</div>