<br>
<h2 class="nav-des">upload Ineligiblestudent list for Labs </h2>
<br>
<div class="mod">
    
      <div class="modal-content">
        <div class="modal-header">
        </div>

        <form (submit)="uploadstudentlab()" #get="ngForm" >
        <div class="modal-body">

          <label class="control-label" for="course">SelectSem</label>
               
          <select class="form-select mb-3" name="sem"  id="type" ngModel [required]="true">
          <option >3</option>
          <option>4</option>
          <option>5</option>
          <option >6</option>
          <option >7</option>
          <option>8</option>
          </select>
          <br>
          <label class="control-label" for="course">selectdivision</label><br>
          <div class="btn-group">
            <input type="radio"  class="btn-check" name="div" value="A" id="opt1" autocomplete="off" checked  ngModel/>
            <label class="btn btn-secondary" for="opt1">A</label>
          
            <input type="radio" class="btn-check" name="div" value="B" id="opt2" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt2">B</label>
          
            <input type="radio" class="btn-check" name="div" value="C" id="opt3" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt3">C</label>
        
            <input type="radio" class="btn-check" name="div" value="D" id="opt4" autocomplete="off"  ngModel/>
            <label class="btn btn-secondary" for="opt4">D</label>
        
            <input type="radio" class="btn-check" name="div"  value="E" id="opt5" autocomplete="off"  ngModel />
            <label class="btn btn-secondary" for="opt5">E</label>
          </div>
          <br>
          <br>

            <input type="file" class="form-control" id="customFile" (change)="readfile2($event)"/>
        </div>
        <br>
        <div class="modal-footer">
            <button type="submit" id="card" class="btn" [routerLink]="['/eligibility/upload/uploadtheory']">
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
                upload
              </button>
               </div>
      </form>
      </div>
    </div>
