<div class="nav-container">
    <div class="navbar1">

        <ul class="list col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
            <button [routerLink]="['/eligibility/ap-list']" [routerLinkActive]="['selected-option']" type="button"
                class="nav-op btn">Theory</button>
            <button [routerLink]="['/eligibility/lab']" [routerLinkActive]="['selected-option']" type="button"
                class="nav-op btn">Lab</button>
            <button [routerLink]="['/eligibility/upload']" [routerLinkActive]="['selected-option']" type="button"
                class="nav-op btn">upload</button>
        </ul>

    </div>
    <router-outlet></router-outlet>