<h1 align="center"><form action="https://formspree.io/f/mwkzjlqj" method="POST" >
    <input type="text"  name="Name" placeholder="Full Name" value="https://docs.google.com/document/d/1OXyg6N8SI5bFQTa6LJWZYOV8Ovprx_apm0ETi52t030/edit?usp=sharing">
    <br><button class="nav-op">send</button><br><br>
    <div class="bb"><iframe style="width:100%; height: 150%;" src="https://docs.google.com/document/d/1OXyg6N8SI5bFQTa6LJWZYOV8Ovprx_apm0ETi52t030/edit?usp=sharing?
        url=http://remote.url.tld/path/to/document.doc&embedded=true "></iframe></div></form></h1>
    
    
    