<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
        <div class=" col-md-6">
            <img src="../assets/opm.png" alt=""
              width="350"  class="img-fluid">
        </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p><span style="font-weight: bold;font-size: large;">looks like you’re lost</span><br>
            <a [routerLink]="['/home']" class="btn btn-danger">Go Home</a>
        </div>

    </div>
</div>
