<div class="container">
    <div class="nav-options">
        <div class="nav-op" routerLink="/Minor/coordinator/single" [routerLinkActive]="['selected-option']">
            Single Marksheet
            Upload
        </div>
        <div class=" nav-op" routerLink="/Minor/coordinator/consolidated" [routerLinkActive]="['selected-option']">
            Consolidated Marksheet Upload
        </div>
        <div class="nav-op" routerLink="/Minor/coordinator/delete" [routerLinkActive]="['selected-option']">
            Delete Marksheet
        </div>

    </div>
    <div class="dashboard">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>

</div>