<div class="nav-container">
   
    <div class="nav-options">
        <div class="nav-op" [routerLink]="['/makeup/add-student']" >apply for makeup</div>
        <div class="nav-op" [routerLink]="['/makeup/edit-student']" >aprrove student</div>
        <div class="nav-op" [routerLink]="['/makeup/list-student']" >student report</div> 
      </div>
    
</div>
<!-- <app-course-withdrawal></app-course-withdrawal>
<app-course-widthdrawal-report></app-course-widthdrawal-report>
<app-course-withdrawal-application></app-course-withdrawal-application> -->
<!-- <router-outlet></router-outlet> -->


 

<router-outlet></router-outlet>