<div class="nav-container">

  <div class="nav-options">
    <div class="nav-op" [routerLink]="['/makeup/add-student']">Apply for makeup</div>
    <div class="nav-op" [routerLink]="['/makeup/edit-student']">Approve student</div>
    <div class="nav-op" [routerLink]="['/makeup/list-student']">Student report</div>
  </div>

</div>
<!-- <app-course-withdrawal></app-course-withdrawal>
<app-course-widthdrawal-report></app-course-widthdrawal-report>
<app-course-withdrawal-application></app-course-withdrawal-application> -->
<!-- <router-outlet></router-outlet> -->




<router-outlet></router-outlet>