<div class="nav-container">
   
    <div class="nav-options">
        <div class="nav-op" [routerLink]="['/makeup/add-student']" >add-student</div>
        <div class="nav-op" [routerLink]="['/makeup/edit-student']" >edit-student</div>
        <div class="nav-op" [routerLink]="['/makeup/list-student']" >list-student</div> 
      </div>
    
</div>
<!-- <app-course-withdrawal></app-course-withdrawal>
<app-course-widthdrawal-report></app-course-widthdrawal-report>
<app-course-withdrawal-application></app-course-withdrawal-application> -->
<!-- <router-outlet></router-outlet> -->


 

<router-outlet></router-outlet>