<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="navbar-real">
    <div class="navbar1">
      <a routerLink="/Lab/home">Home</a>
      <a href="/Lab/a42020">Previous Year</a>
    </div>
    <h2> OS Lab CIE Analysis</h2>
    <div class="dropdown-content1">
      <div class="courses-label">Courses: </div>
      <a href="/Lab/amcp2021">MCP LAB</a>
      <a href="/Lab/aeda2021">EDA LAB</a>
      <a href="/Lab/aoops2021">OOPS LAB</a>
      <a href="/Lab/a42021">ALL </a>
      <!--<a href="A_sec_conso.html">ALL </a> -->
    </div>
  </div>
  <iframe id="if1" width="1300" height="450" frameborder="0" scrolling="no"
    src="https://onedrive.live.com/embed?resid=BDACEA1F3CE615E5%21207&authkey=%21AHdrHbQtkRUi2Uk&em=2&wdAllowInteractivity=False&Item='Sheet1'!A1%3AL15&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=true&edrtees6=false&resen=false"></iframe>
  <router-outlet></router-outlet>
</body>

</html>